@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --primary-color: #a4303f;
  --secondary-color: #903e05;
  --accent2-color: #f2d0a4;
  --accent1-color: #ffffff;

  --heading-font: "Courgette", cursive, serif;
  --paragraph-font: "Palatino Linotype", times, serif;

  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--primary-color);
  --paragraph-color-on-color: white;
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--primary-color);
}

header {
  background-color: var(--nav-background-color);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: none;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

h1,
h2 {
  color: var(--headline-color-on-color);
  font-family: var(--heading-font);
  text-align: center;
}

h2 {
  color: var(--headline-color-on-white);
}

nav {
  background-color: var(--nav-background-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

nav a {
  color: var(--headline-color-on-color);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
}
nav a:hover {
  color: var(--nav-hover-link-color);
}

body {
  background-color: var(--accent2-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  border: none;
  padding: 30px 40px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: var(--accent1-color);
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.reviews-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.review-card {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 550px;
  width: 85%;
  padding: 15px;
}

.review-card img {
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px auto;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

footer a {
  color: var(--nav-link-color);
  text-decoration: none;
}

.hidden {
  display: none;
}

@media screen and (min-width: 600px) {
  .title {
    display: block;
  }

  nav {
    flex-direction: row;
    align-items: center;
  }

  nav a {
    padding: 10px 50px;
  }

  .hidden {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  button {
    padding: 15px 20px;
  }

  .review-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 700px;
  }

  .review-card p {
    font-size: 15pt;
  }
}
