@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

:root {
  --primary-color: #a4303f;
  --secondary-color: #bf5d17;
  --accent1-color: #f2d0a4;
  --accent2-color: #ffeccc;

  --heading-font: "Courgette", cursive, serif;
  --paragraph-font: "Palatino Linotype", times, serif;

  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--primary-color);
  --paragraph-color-on-color: white;
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--accent1-color);
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent2-color);
  --nav-hover-background-color: var(--primary-color);
}

header {
  background-color: var(--nav-background-color);
  padding: 10px 0;
}

h1,
h2 {
  color: var(--headline-color-on-color);
  font-family: var(--heading-font);
  text-align: center;
}

h2 {
  color: var(--headline-color-on-white);
}

nav {
  background-color: var(--nav-background-color);
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 10px 15px;
}
nav a:hover {
  color: var(--nav-hover-link-color);
}

header img {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;
}

.reviews-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.review-card {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  font-family: var(--paragraph-font);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
  padding: 15px;
}

.review-card img {
  border-radius: 10px;
  display: block;
  margin: 0 auto 10px auto;
  max-width: 100%;
  height: auto;
}

.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

footer {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}

footer a {
  color: var(--nav-link-color);
  text-decoration: none;
}
