@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", cursive;
}

header {
  max-width: 800px;
  margin: 0 auto;
}

#site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

#site-logo img {
  flex: 1 1 auto;
  max-width: 150px;
  max-height: 150px;
}

#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 3px solid #000000;
  border-radius: 5px;
}

#search-bar img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 3px;
  border-left: 2px solid #000000;
}

#search-bar input[type="text"] {
  flex: 1 1 auto;
  padding: 10px;
  border: none;
  font-size: 1em;
}

header hr {
  max-width: 780px;
}

.recipe {
  max-width: 800px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px solid #000000;
  border-radius: 10px;
}
